@charset "utf-8";
/* CSS Document */

body {background: url(../images/bg.jpg) no-repeat top center; font-family:Arial, Helvetica, sans-serif;}
	
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input.
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

.clear {clear:both;}

#wrapper{width: 1000px; margin: 0px auto; }


/***********************  General ******************/
h1, h2, h3, h4, h5, h6{font-family: 'myriad pro', arial, helevetica, sans-serif; font-weight: normal; margin: 0px;}

h2{color: #000000; font-size: 26px;padding: 0 0 10px 0; }
h3{color: #000000; font-size: 23px;padding: 0 0 10px 0;}
h4{color: #00427b; font-weight: bold; font-size: 14px; float: left;}
h5{color: #00427b; font-weight: bold; font-size: 14px; padding: 0 0 10px 0;}

p{color: #000000; font-size: 13px; line-height: 20px; padding-bottom: 10px; margin: 0px;}
li{color: #000000; font-size: 13px; line-height: 20px; margin: 0px;}
ul{margin: 0px 0px 10px 0px}

a{ color: #840b1b;text-decoration: none;;}
a:hover{text-decoration: underline}

#content_sub hr{border-bottom: 0; border-top: 1px solid #e3e3e3; width: 100%; margin: 20px 0;}
#content_sub table td{color: #000000; font-size: 13px; }
#content_sub table td input{border: 1px solid #e3e3e3; padding: 3px;}
#content_sub table td textarea{border: 1px solid #e3e3e3; padding: 3px; margin: 10px 0px}

p.italicform{color: #000000; font-size: 12px; line-height: 18px; padding: 5px 0 10px 0; margin: 0px; font-style: italic}



/***********************  Header ******************/

#header{width: 980px; height: 165px; margin: 0px auto;}

#logo{width: 300px; height: 95px; float: left; z-index: 1000;padding-top: 35px; margin-right: 80px;}
#logo img {width: 320px}
#DBA{width: 200px; float: left; z-index: 1000;padding-top: 35px;}
#DBA img {width: 200px;}

#contact{background: url(../images/contact_bg.png) no-repeat top left; width: 303px; height: 87px; float: right; margin: 35px 0 0 0; }
#contact .type{font-size: 14px; color: #473427; font-weight: bold}
#contact p{font-size: 19px; color: #473427; padding: 0 0 0 100px;}

/***********************  Navigation ******************/

#navigation {z-index:1; float: left; position: relative;  padding: 0px; width: 1000px;}
#navigation ul {list-style:none; float: left; padding: 0px; margin: 0px;background: url(../images/nav_bg.jpg) repeat-x top left; height: 42px; width: 960px;}
#navigation li {list-style:none; float: left; background: url(../images/nav_separator.jpg) no-repeat top left; height: 42px;}
#navigation li a {text-decoration:none; font-size:16px; color:#ffffff; display: block;font-family: 'myriad pro', arial, helevetica, sans-serif; text-shadow: 1px 1px 1px #35080e; padding: 10px 35px 13px 35px;}
#navigation li a:hover {text-decoration:none;color:#fff;background: url(../images/nav_current.gif) repeat-x top left;  }
#navigation li a.current{text-decoration:none;color:#fff;background: url(../images/nav_current.gif) repeat-x top left;}

/*dropdown */
				
#nav, #nav ul {	z-index: 500;list-style:none;margin:0px; padding: 0px; background:#75111e; width: auto; height: auto;}
#nav li ul {margin:0px; padding: 0px; position: absolute;left: -999em;padding:0px;z-index:500; background:#75111e; width: auto;}
#nav li ul li {margin:0px; float:none;z-index:500; background:none; height: auto;width: auto;}
#nav li ul li a{margin:0px; padding: 10px;color: #fff; font-size: 14px; z-index:500; background:none;width: auto;}
#nav li ul li a:hover {text-decoration:none;color:#fff; background: #2e070c; z-index:500;}
#nav li:hover ul, #nav li.sfhover ul {left: auto;text-decoration:none;color:#fff; z-index:500;}

/***********************  Banner ******************/

#bgbanner{ height:285px; width:974px; padding: 0 0 15px 0; margin: 0 0 0 13px;background:transparent url(../images/banner.jpg) no-repeat top left;}

/***********************  Content ******************/

#content_wrap{width: 1000px;background:transparent url(../images/content_bg.png) repeat-y top left;}

#content{width: 960px; margin:0 auto}
#content_sub{width: 960px; margin:0 auto; padding: 20px 0px;}

#main_content{width: 625px; float: left;}

#aside {width: 325px; float: left; background: url(../images/side_bg.gif) no-repeat top right; margin-right: 10px;}

/*********************** Quote box ******************/

#quote{background: url(../images/online_quote_bg.gif) no-repeat; width: 312px; height: 223px; text-align: center; margin-bottom: 10px;}
#quote h2{color: #fff; font-size: 21px; padding-top: 15px; text-shadow: 1px 1px 1px #00193a; text-transform: uppercase; }
#quote h3 {color: #3e3e3e; font-size: 18px; padding: 0px; margin: 10px 0 7px 0;}

ul.quote{margin: 0px;float: left; list-style: none;}
ul.quote li{float: left; padding-right: 5px; margin: 0px; text-transform: uppercase; font-size: 13px;}

a.sml{height: 22px; width: 43px; display: block; padding-top: 2px; background: url(../images/sml.gif) no-repeat top left;  color: #fff; font-family: 'myriad pro', Arial, Helvetica, sans-serif;text-shadow: 1px 1px 1px #00193a;}

a.med{height: 22px; width: 58px; display: block; padding-top: 2px; background: url(../images/med.gif) no-repeat top left;  color: #fff; font-family: 'myriad pro', Arial, Helvetica, sans-serif;text-shadow: 1px 1px 1px #00193a;}

a.lrg{height: 22px; width: 84px; display: block; padding-top: 2px; background: url(../images/lrg.gif) no-repeat top left;  color: #fff; font-family: 'myriad pro', Arial, Helvetica, sans-serif;text-shadow: 1px 1px 1px #00193a;}

a.medical{height: 22px; width: 64px; display: block; padding-top: 2px; background: url(../images/medical.gif) no-repeat top left;  color: #fff; font-family: 'myriad pro', Arial, Helvetica, sans-serif;text-shadow: 1px 1px 1px #00193a;}

a:hover.sml, a:hover.med, a:hover.lrg , a:hover.medical {color: #cf4f60; text-decoration: none; text-shadow: none;}

/***********************  Testimonials box  ******************/

#testimonials{ width: 307px; margin-bottom: 10px;background: url(../images/side_test_bg.jpg) repeat-y top left;}

#testimonials h2 {color: #0d4777; text-align: center; padding-top: 8px;background: url(../images/side_header_bg.gif) no-repeat top left; width: 307px; height: 35px}
#testimonials p{padding: 0px; margin: 0px;font-size: 12px; color: #4d4d4d; line-height: 20px;}
#testimonials p.author{font-size:14px;  color: #4d4d4d; text-align:right; padding-top: 5px;}
#testimonials p.position{text-transform: uppercase; font-size:10px;  color: #4d4d4d; text-align:right}

/***********************  UBA box  ******************/

#survey{background: url(../images/side_blue_box.jpg) no-repeat top left; width: 307px; height: 204px;margin-bottom: 10px;}

#survey h2 {color: #0d4777; text-align: center; padding-top: 8px;}
#survey p{padding: 0px; margin: 0px;font-size: 12px; color: #4d4d4d; width: 286px; padding-left: 12px; line-height: 20px;}
#survey a{display: block; padding: 4px 7px; font-size: 12px; color: #fff; background: #515151; float: left; margin-top: 10px; text-shadow: 1px 1px 1px #000;}
#survey a:hover{color: #fff; background: #5d5d5d; text-decoration: none; text-shadow:none;}
#survey a img{border: none;}

/***********************  FB box  ******************/

#facebook{background: url(../images/fb_button_bg.jpg) no-repeat top left; width: 304px; height: 58px;}
#facebook a{color: #323131; text-shadow: 1px 1px 1px #fff; font-size: 22px; padding: 15px 0 0 60px; display: block;}
#facebook a:hover{text-decoration: none; color: #666}

/***********************  Insurance logos box  ******************/

#insurance_companies{background: url(../images/logo_bg.gif) no-repeat top left; width: 612px; height: 121px; margin-bottom: 10px;}

/***********************  News box  ******************/

/*#news img{float: left; margin-right: 10px; background: #f7f7f7; padding: 4px; border: 1px solid #d5d5d5}*/
/*#news div.hr{padding: 0px; margin: 0px;border: 0px; border-bottom: 1px dotted #b7b7b7; border-top: 0px;  margin: 10px 0; width: 100%; clear: both;}*/
#news h2{color: #00427b; font-size: 14px; font-weight: bold;text-align: center}
#news .news_block{float: left; width: 138px;}
#news ul{padding: 0px; padding-left: 10px;}
#news li{padding: 0px;}
#news p {text-align: center}

/***********************  3 Bottom Blocks box  ******************/


#bottom_blocks {background: url(../images/bottom_box_bg.gif) no-repeat top left; width: 304px; height: 158px;}
#bottom_blocks h2 {color: #fff;  font-size: 20px; padding-top: 5px;text-shadow: 1px 1px 1px #00193a; }
#bottom_blocks img {float: left;}
#bottom_blocks p {color: #5f5f5f;font-size: 13px; line-height: 19px;  }

/***********************  Footer ******************/

#footer{background: #00427b url(../images/footer_bg.gif) no-repeat top center; text-align: center; padding: 0; width: 100%}
#footer h2{font-style: italic; color: #fff; font-size: 20px; padding-top: 35px;}
#footer p{color: #fff; font-size: 17px; font-family: 'myriad pro'}

/***********************  Contact Form ******************/

.contactform {float:left; width: 266px; padding: 20px 15px 20px 20px;}
.contactform  input {float: left; padding: 3px; width:260px;height:20px; border-top:1px solid #c0c0c0;border-right:1px solid #c0c0c0; border-bottom:1px solid #dddddd;border-left:1px solid #dddddd;background:#f3f3f3; color:#585858; margin-bottom: 13px; font-style: italic;font-size: 12px;}
.contactform  textarea { float: left;  padding: 3px; width:260px;height:150px; border-top:1px solid #c0c0c0;border-right:1px solid #c0c0c0; border-bottom:1px solid #dddddd;border-left:1px solid #dddddd;background:#f3f3f3; color:#585858; font-family:Arial, Helvetica, sans-serif;margin-bottom: 13px;font-style: italic; font-size: 12px;}
.contactform .button{float: right; width: 75px; height: 21px; border: 0; background: #fff; padding: 0px;}


/**************************Start RSS box styling Home pg **********/

div#rssincl-box-436287 {
    width: 280px!important;
}
div#rssincl-box-436269, div#rssincl-box-436287 {padding: 5px 15px!important; }
div#rssincl-box-436269 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle a, div#rssincl-box-436287 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle a {text-decoration:none!important; }
div#rssincl-box-436269 div.rssincl-content div.rssincl-entry div.rssincl-itemdesc, div#rssincl-box-436269 div.rssincl-content div.rssincl-entry div.rssincl-itemdesc *, div#rssincl-box-436287 div.rssincl-content div.rssincl-entry div.rssincl-itemdesc, div#rssincl-box-436287 div.rssincl-content div.rssincl-entry div.rssincl-itemdesc * {line-height: 19px!important;}

/*end RSS box styling */


div.travel{ clear: both;}
div.travel h4{ float: none; padding: 5px 0px;}
div.travel img{float: left; margin: 5px 10px 0 0; background: #f7f7f7; padding: 4px; border: 1px solid #d5d5d5; width: 50px;}

table.estate_planing{color: #000000; font-size: 13px;}
table.estate_planning td{ border: 1px solid #CCC; border-collapse: collapse;padding: 5px;color: #000000; font-size: 13px; text-align: center}


/**************************Forms **********/

table.group td{border-top: 1px solid #ccc; border-right: 1px solid #ccc; padding: 5px;}
table.group{border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; margin-bottom: 10px;}

fieldset{border: 1px solid #e3e3e3; margin-bottom: 20px;}

legend{color: #00427b; font-weight: bold; font-size: 14px; }

